<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Lookweb.tv</title>

<link rel="stylesheet" type="text/css" href="styles/newmain.css" />
<!--[if IE 6]><link rel="stylesheet" href="styles/ie6.css" media="all" /><![endif]-->
</head>

<body>
   
		<!--HEADER-->
        
        <div class="header">
            <div class="header_logo">
                <img src="img/logo.png" width="112px" height="19px">
            </div>
            <div class="header_account">
                <span class="gray_text">(0)</span>
                <span class="no_border"><a href="#"><img src="img/icon1.gif" width="14px" height="10px"></a></span>
                <span class="no_border"><a href="#"><img src="img/icon2.gif" width="13px" height="13px"></a></span>
                <a href="#"><b>dmitnov</b></a>
                <a href="#">Аккаунт</a>
                <a href="#">Сохраненные <span class="gray_text">(0)</span></a>
                <a href="#">Справка</a>
                <span class="no_border"><a href="#">Выйти</a></span>
            </div>
        </div>
        <div class="header_menu">
            <a href="index.html">Главная</a>
            <a href="#">Архив</a>
            <a href="profile.html">Профиль</a>
            <a href="programm.html">Программа</a>
            <form action="#" method="post" class="search_form">
                <input type="text" value="" class="input_text">
                <input type="button" value="Поиск" class="input_button">
            </form>
        </div>
       
        <!---CONTENT-->
        
        <div class="content">
            <div class="left_block">
                <div class="block1">
                    <div class="bl1_top_left"></div>
                    <div class="bl1_top">                      
                         
                            Эфир <span>НТВ</span>
                        
                    </div>
                    <div class="bl1_top_right"></div>
                    <div class="bl1_content">
			<div class="video_block">
				<div class="video_box">
					<img src="img/video01.jpg" alt="video">
				</div>
				<div class="video_link">
					<p><a href="#" title="Назад"><img src="img/back.jpg" alt="Назад"></a>
					<a href="#" title="Вперед"><img src="img/next.jpg" alt="Вперед"></a></p>
				</div>
			</div>
                    </div>
                    
                    <div class="bl1_bottom_left"></div>
                    <div class="bl1_bottom"></div>
                    <div class="bl1_bottom_right"></div>
                    
                </div>

                <div class="block1">
                    <div class="bl1_top_left"></div>
                    <div class="bl1_top">                      
                        
                            Программа <span>НТВ</span>
                        
                    </div>
                    <div class="bl1_top_right"></div>
                    <div class="bl1_content">
			<div class="program_block">
				<div class="online">
					<a href="#" class="link01">Сейчас в эфире</a>
					<a href="#" class="link02 active">Весь день</a>
				</div>
				<div class="nedelya">
					<ul>
						<li><a href="#">&#8592;</a></li>
						<li><a href="#">пн</a></li>
						<li><a href="#">вт</a></li>
						<li><a href="#">ср</a></li>
						<li><a href="#">чт</a></li>
						<li><a href="#">пт</a></li>
						<li><a href="#">сб</a></li>
						<li><a href="#" class="active">вс</a><span>5 июля</span></li>
						<li><a href="#">пн</a></li>
						<li><a href="#">&rarr;</a></li>
					</ul>
				</div>
			</div>
			<div class="clear_box">&nbsp;</div>
			<div class="rasp">
				<div class="rasp_box silver">
					<div class="rasp_block"><span>6:00</span>Сегодня утром Сегодня утром</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром утром</div>
					<div class="rasp_block"><span>6:00</span>Дело было вечером делать было не чего</div>
					<div class="rasp_block"><span>6:00</span>Разные текст который не получилось скопировать</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром Сегодня утром</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром утром</div>
					<div class="rasp_block"><span>6:00</span>Дело было вечером делать было не чего</div>
					<div class="rasp_block"><span>6:00</span>Разные текст который не получилось скопировать</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром Сегодня утром</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром утром</div>
					<div class="rasp_block"><span>6:00</span>Дело было вечером делать было не чего</div>
					<div class="rasp_block"><span>6:00</span>Разные текст который не получилось скопировать</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром Сегодня утром</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром утром</div>
					<div class="rasp_block"><span>6:00</span>Дело было вечером делать было не чего</div>
					<div class="rasp_block"><span>6:00</span>Разные текст который не получилось скопировать</div>
				</div>
				<div class="rasp_box">
					<div class="rasp_block"><span>6:00</span>Сегодня утром Сегодня утром</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром утром</div>
					<div class="rasp_block"><span>6:00</span>Дело было вечером делать было не чего</div>
					<div class="rasp_block"><span>6:00</span>Разные текст который не получилось скопировать</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром Сегодня утром</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром утром</div>
					<div class="rasp_block"><span>6:00</span>Дело было вечером делать было не чего</div>
					<div class="rasp_block"><span>6:00</span><b>Разные текст который не получилось скопировать</b></div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром Сегодня утром</div>
					<div class="rasp_block"><span>6:00</span>ЮСегодня утром утром</div>
					<div class="rasp_block"><span>6:00</span>Дело было вечером делать было не чего</div>
					<div class="rasp_block"><span>6:00</span>Разные текст который не получилось скопировать</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром Сегодня утром</div>
					<div class="rasp_block"><span>6:00</span>Сегодня утром утром</div>
					<div class="rasp_block"><span>6:00</span><strong>Дело было вечером делать было не чего</strong></div>
					<div class="rasp_block"><span>6:00</span>Разные текст который не получилось скопировать</div>
				</div>
			</div>
		    </div>
                    
                    <div class="bl1_bottom_left"></div>
                    <div class="bl1_bottom"></div>
                    <div class="bl1_bottom_right"></div>
                    
                </div>
            </div>
            <div class="right_block">
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">                        
                        <a href="#" onclick="document.getElementById('ch_prog').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_prog').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
                        Моя программа
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_prog">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_2x2.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">2X2</div>
                        </div> 
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_7tv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">7ТВ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_mtv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">MTV-Россия</div>
                        </div> 
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_rentv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">REN TV</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_dom.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Домашний</div>
                        </div> 
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_dtv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ДТВ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_star.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Звезда</div>
                        </div> 
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_kult.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Культура</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_muztv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Муз-ТВ</div>
                        </div>                       
                    </div>
                    <div class="bl3_bottom_left"></div>
                    <div class="bl3_bottom"></div>
                    <div class="bl3_bottom_right"></div>
                    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">
                        <a href="#" onclick="document.getElementById('ch_tematic').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_tematic').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
				Тематики
			</div>
                    <div class="bl3_top_right"></div>
		    <div id="ch_tematic">	
                    <div class="bl3_content">
                        <div class="clouds">
                            <a href="#" class="cloud1">Новости,</a>
                            <a href="#" class="cloud2">Спорт,</a>
                            <a href="#" class="cloud3">Развлечения,</a>
                            <a href="#" class="cloud1">Фильмы,</a>
                            <a href="#" class="cloud4">Природа</a>
                        </div>
                    </div>
                    <div class="bl3_bottom_left"></div>
                    <div class="bl3_bottom"></div>
                    <div class="bl3_bottom_right"></div>
		    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">                        
                        <a href="#" onclick="document.getElementById('ch_russia').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_russia').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
                        Россия
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_russia">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch4.jpg" width="38px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>                        
                    </div>
                    <div class="bl3_bottom_left"></div>
                    <div class="bl3_bottom"></div>
                    <div class="bl3_bottom_right"></div>
                    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">
                        <a href="#" onclick="document.getElementById('ch_usa').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_usa').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
                        USA
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_usa" style="display:none;">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch4.jpg" width="38px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>                        
                    </div>                    
                        <div class="bl3_bottom_left"></div>
                        <div class="bl3_bottom"></div>
                        <div class="bl3_bottom_right"></div>
                    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">
                        <a href="#" onclick="document.getElementById('ch_britan').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_britan').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>                           
                        Great Britan
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_britan" style="display:none;">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch4.jpg" width="38px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>                        
                    </div>                    
                        <div class="bl3_bottom_left"></div>
                        <div class="bl3_bottom"></div>
                        <div class="bl3_bottom_right"></div>
                    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">
                        <a href="#" onclick="document.getElementById('ch_japan').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_japan').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
                         Japan
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_japan" style="display:none;">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch4.jpg" width="38px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>                        
                    </div>                    
                        <div class="bl3_bottom_left"></div>
                        <div class="bl3_bottom"></div>
                        <div class="bl3_bottom_right"></div>
                    </div>
                </div>
            </div>
        </div>
	
		<!--FOOTER-->
        
	
</body>
</html>