<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Lookweb.tv</title>

<link rel="stylesheet" type="text/css" href="styles/newmain.css" />
<!--[if IE 6]><link rel="stylesheet" href="styles/ie6.css" media="all" /><![endif]-->
</head>

<body>
   
		<!--HEADER-->
        
        <div class="header">
            <div class="header_logo">
                <img src="img/logo.png" width="112px" height="19px">
            </div>
            <div class="header_account">
                <span class="gray_text">(0)</span>
                <span class="no_border"><a href="#"><img src="img/icon1.gif" width="14px" height="10px"></a></span>
                <span class="no_border"><a href="#"><img src="img/icon2.gif" width="13px" height="13px"></a></span>
                <a href="#"><b>dmitnov</b></a>
                <a href="#">Аккаунт</a>
                <a href="#">Сохраненные <span class="gray_text">(0)</span></a>
                <a href="#">Справка</a>
                <span class="no_border"><a href="#">Выйти</a></span>
            </div>
        </div>
        <div class="header_menu">
            <a href="index.html">Главная</a>
            <a href="#">Архив</a>
            <a href="profile.html">Профиль</a>
            <a href="programm.html">Программа</a>
            <form action="#" method="post" class="search_form">
                <input type="text" value="" class="input_text">
                <input type="button" value="Поиск" class="input_button">
            </form>
        </div>
       
        <!---CONTENT-->
        
        <div class="content">
            <div class="left_block">
                <div class="block1">
                    <div class="bl1_top_left"></div>
                    <div class="bl1_top">                      
                         
                            ТВ Программа 
                        
                    </div>
                    <div class="bl1_top_right"></div>
                    <div class="bl1_content">
			<div class="select">
				<form action=".php" method="get">
					<select><option value="Россия">Россия</option><option value="Россия">Россия</option><option value="Россия">Россия</option></select>
				</form>
			</div>
			<div class="program_block">
				<div class="online">
					<a href="#" class="link01 active">Сейчас в эфире</a>
					<a href="#" class="link02">Весь день</a>
				</div>
				<div class="nedelya">
					<ul>
						<li><a href="#">&#8592;</a></li>
						<li><a href="#">пн</a></li>
						<li><a href="#">вт</a></li>
						<li><a href="#">ср</a></li>
						<li><a href="#">чт</a></li>
						<li><a href="#">пт</a></li>
						<li><a href="#">сб</a></li>
						<li><a href="#" class="active">вс</a><span>5 июля</span></li>
						<li><a href="#">пн</a></li>
						<li><a href="#">&rarr;</a></li>
					</ul>
				</div>
			</div>
			<div class="program_block2">
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/2x2.jpg" alt="img"></div>
					<div class="name_chanel">2x2</div>
					<div class="rasp_chanel first"><span>20:30</span>Гриффины</div>
					<div class="rasp_chanel"><span>21:00</span>Южный парк</div>
					<div class="rasp_chanel"><span>21:21</span>Симпсоны</div>
					<div class="rasp_chanel"><span>22:20</span>Футурама</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/7tv.jpg" alt="img"></div>
					<div class="name_chanel">7ТВ</div>
					<div class="rasp_chanel first"><span>20:20</span>Планета рыбака</div>
					<div class="rasp_chanel"><span>20:35</span>Серфинг. Мировой тур</div>
					<div class="rasp_chanel"><span>21:00</span>7 Новостей</div>
					<div class="rasp_chanel"><span>21:05</span>Zero Graviti</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/mtv.jpg" alt="img"></div>
					<div class="name_chanel">MTV-Россия</div>
					<div class="rasp_chanel first"><span>20:25</span>Премьера! Клуб: Полная режиссерская версия</div>
					<div class="rasp_chanel"><span>21:25</span>Т/С. «Клава, давай!».</div>
					<div class="rasp_chanel"><span>22:20</span>Т/С. «Клиника. Продолжение».</div>
					<div class="rasp_chanel"><span>23:10</span>Южный парк</div>
				</div>
                      		<div class="height_separator"></div> 
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/rentv.jpg" alt="img"></div>
					<div class="name_chanel">REN TV</div>
					<div class="rasp_chanel first"><span>20:00</span>«Необъяснимые явления»</div>
					<div class="rasp_chanel"><span>20:55</span>«Школа выживания»</div>
					<div class="rasp_chanel"><span>21:00</span>Т/С. «Солдаты»</div>
					<div class="rasp_chanel"><span>22:00</span>«Детективные истории»</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/dom.jpg" alt="img"></div>
					<div class="name_chanel">Домашний</div>
					<div class="rasp_chanel first"><span>20:30</span>Невероятные Истории Любви.</div>
					<div class="rasp_chanel"><span>21:00</span>Т/С. «Не Родись Красивой».</div>
					<div class="rasp_chanel"><span>22:00</span>Схватка.</div>
					<div class="rasp_chanel"><span>23:00</span>Т/С. «Долго и Счастливо».</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/dtv.jpg" alt="img"></div>
					<div class="name_chanel">ДТВ</div>
					<div class="rasp_chanel first"><span>20:30</span>Брачное Чтиво</div>
					<div class="rasp_chanel"><span>21:00</span>Вне Закона</div>
					<div class="rasp_chanel"><span>21:30</span>Т/С. «Безмолвный Свидетель».</div>
					<div class="rasp_chanel"><span>22:00</span>Т/С. «Сыщики-2 (9)».</div>
				</div>
                      		<div class="height_separator"></div> 
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/star.jpg" alt="img"></div>
					<div class="name_chanel">Звезда</div>
					<div class="rasp_chanel first"><span>19:45</span>Х/Ф. «Ключи от неба».</div>
					<div class="rasp_chanel"><span>21:15</span>Д/С. «Война в лесах».</div>
					<div class="rasp_chanel"><span>22:00</span>НОВОСТИ</div>
					<div class="rasp_chanel"><span>22:40</span>Т/С. «Неотложка».</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/kult.jpg" alt="img"></div>
					<div class="name_chanel">Культура</div>
					<div class="rasp_chanel first"><span>20:20</span>Д/С. «Как создавались империи».</div>
					<div class="rasp_chanel"><span>21:10</span>«Нобелевские лауреаты».</div>
					<div class="rasp_chanel"><span>21:55</span>Х/Ф. «Короткие встречи».</div>
					<div class="rasp_chanel"><span>23:30</span>НОВОСТИ КУЛЬТУРЫ</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/muztv.jpg" alt="img"></div>
					<div class="name_chanel">Муз-ТВ</div>
					<div class="rasp_chanel first"><span>20:00</span>Звезды зажигают</div>
					<div class="rasp_chanel"><span>20:45</span>Smesh.no</div>
					<div class="rasp_chanel"><span>21:00</span>Ближе к звездам</div>
					<div class="rasp_chanel"><span>21:45</span>Золото</div>
				</div>
                      		<div class="height_separator"></div> 
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/ntv.jpg" alt="img"></div>
					<div class="name_chanel">НТВ</div>
					<div class="rasp_chanel first"><span>22:10</span>Очная ставка</div>
					<div class="rasp_chanel"><span>23:00</span>Сегодня</div>
					<div class="rasp_chanel"><span>23:20</span>Т/С. «Хорошие парни».</div>
					<div class="rasp_chanel"><span>00:20</span>Борьба за собственность</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/perviy.jpg" alt="img"></div>
					<div class="name_chanel">Первый канал</div>
					<div class="rasp_chanel first"><span>22:30</span>День семьи, любви и верности.</div>
					<div class="rasp_chanel"><span>00:00</span>Ночные новости</div>
					<div class="rasp_chanel"><span>00:20</span>Т/С. «Грязные мокрые деньги».</div>
					<div class="rasp_chanel"><span>01:00</span>Т/С. «Грязные мокрые деньги».</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/rus2.jpg" alt="img"></div>
					<div class="name_chanel">Россия</div>
					<div class="rasp_chanel first"><span>21:00</span>Т/С. «Вызов».</div>
					<div class="rasp_chanel"><span>22:45</span>Х/Ф. «Подстрочник».</div>
					<div class="rasp_chanel"><span>00:55</span>«ВЕСТИ+».</div>
					<div class="rasp_chanel"><span>01:15</span>Х/Ф. «Убить "Шакала"».</div>
				</div>
                      		<div class="height_separator"></div> 
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/sport.jpg" alt="img"></div>
					<div class="name_chanel">Спорт</div>
					<div class="rasp_chanel first"><span>22:10</span>Летняя Универсиада - 2009.</div>
					<div class="rasp_chanel"><span>00:05</span>Вести-Спорт</div>
					<div class="rasp_chanel"><span>00:15</span>Современное пятиборье. Кубок мира.</div>
					<div class="rasp_chanel"><span>01:15</span>Профессиональный бокс.</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/sts.jpg" alt="img"></div>
					<div class="name_chanel">СТС</div>
					<div class="rasp_chanel first"><span>22:00</span>Х/Ф. «Робокоп 2».</div>
					<div class="rasp_chanel"><span>00:00</span>«6 кадров».</div>
					<div class="rasp_chanel"><span>00:30</span>Т/С. «Даешь молодежь!».</div>
					<div class="rasp_chanel"><span>01:00</span>Х/Ф. «Танец-вспышка».</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/tv3.jpg" alt="img"></div>
					<div class="name_chanel">ТВ3</div>
					<div class="rasp_chanel first"><span>22:00</span>Х/Ф. «Мегазмея»</div>
					<div class="rasp_chanel"><span>00:00</span>Т/С. «Звездные врата»</div>
					<div class="rasp_chanel"><span>01:00</span>Покер после полуночи</div>
					<div class="rasp_chanel"><span>02:00</span>Т/С. «Вавилон 5»</div>
				</div>
                      		<div class="height_separator"></div> 
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/tvc.jpg" alt="img"></div>
					<div class="name_chanel">ТВЦ</div>
					<div class="rasp_chanel first"><span>21:05</span>Х/Ф. «Дети Дон-Кихота».</div>
					<div class="rasp_chanel"><span>22:40</span>«Дело принципа».</div>
					<div class="rasp_chanel"><span>23:35</span>СОБЫТИЯ.</div>
					<div class="rasp_chanel"><span>00:05</span>Х/Ф. «Четыре мушкетера».</div>
				</div>
				<div class="other_chanel">
					<div class="chanel_img"><img src="img/tnt.jpg" alt="img"></div>
					<div class="name_chanel">ТНТ</div>
					<div class="rasp_chanel first"><span>22:00</span>Х/Ф. «Здесь и сейчас»</div>
					<div class="rasp_chanel"><span>23:30</span>ДОМ-2. После заката</div>
					<div class="rasp_chanel"><span>00:00</span>Убойной ночи</div>
					<div class="rasp_chanel"><span>00:35</span>Смех без правил</div>
				</div>
                        	<div class="transparent_separator"></div>
			</div>
                    </div>
                    
                    <div class="bl1_bottom_left"></div>
                    <div class="bl1_bottom"></div>
                    <div class="bl1_bottom_right"></div>
                    
                </div>
            </div>
            <div class="right_block">
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">                        
                        <a href="#" onclick="document.getElementById('ch_prog').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_prog').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
                        Моя программа
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_prog">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_2x2.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">2X2</div>
                        </div> 
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_7tv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">7ТВ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_mtv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">MTV-Россия</div>
                        </div> 
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_rentv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">REN TV</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_dom.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Домашний</div>
                        </div> 
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_dtv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ДТВ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_star.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Звезда</div>
                        </div> 
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_ntv.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_tv3.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВ3</div>
                        </div>   
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_sport.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Спорт</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_sts.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">СТС</div>
                        </div>   
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/small_tnt.jpg">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТНТ</div>
                        </div>                 
                    </div>
                    <div class="bl3_bottom_left"></div>
                    <div class="bl3_bottom"></div>
                    <div class="bl3_bottom_right"></div>
                    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">
                        <a href="#" onclick="document.getElementById('ch_tematic').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_tematic').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
				Тематики
			</div>
                    <div class="bl3_top_right"></div>
		    <div id="ch_tematic">	
                    <div class="bl3_content">
                        <div class="clouds">
                            <a href="#" class="cloud1">Новости,</a>
                            <a href="#" class="cloud2">Спорт,</a>
                            <a href="#" class="cloud3">Развлечения,</a>
                            <a href="#" class="cloud1">Фильмы,</a>
                            <a href="#" class="cloud4">Природа</a>
                        </div>
                    </div>
                    <div class="bl3_bottom_left"></div>
                    <div class="bl3_bottom"></div>
                    <div class="bl3_bottom_right"></div>
		    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">                        
                        <a href="#" onclick="document.getElementById('ch_russia').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_russia').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
                        Россия
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_russia">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch4.jpg" width="38px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>                        
                    </div>
                    <div class="bl3_bottom_left"></div>
                    <div class="bl3_bottom"></div>
                    <div class="bl3_bottom_right"></div>
                    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">
                        <a href="#" onclick="document.getElementById('ch_usa').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_usa').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
                        USA
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_usa" style="display:none;">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch4.jpg" width="38px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>                        
                    </div>                    
                        <div class="bl3_bottom_left"></div>
                        <div class="bl3_bottom"></div>
                        <div class="bl3_bottom_right"></div>
                    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">
                        <a href="#" onclick="document.getElementById('ch_britan').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_britan').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>                           
                        Great Britan
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_britan" style="display:none;">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch4.jpg" width="38px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>                        
                    </div>                    
                        <div class="bl3_bottom_left"></div>
                        <div class="bl3_bottom"></div>
                        <div class="bl3_bottom_right"></div>
                    </div>
                </div>
                <div class="transparent_separator" style="height:10px;"></div>
                <div class="block3">
                    <div class="bl3_top_left"></div>
                    <div class="bl3_top">
                        <a href="#" onclick="document.getElementById('ch_japan').style.display = 'none'; return false;"><img src="img/top_btn.gif" width="19px" height="12px"></a>    
                        <a href="#" onclick="document.getElementById('ch_japan').style.display = 'block'; return false;"><img src="img/bottom_btn.gif" width="19px" height="12px"></a>   
                         Japan
                    </div>
                    <div class="bl3_top_right"></div>
                    <div id="ch_japan" style="display:none;">
                    <div class="bl3_content">
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch1.jpg" width="14px" height="28px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Первый канал</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch2.jpg" width="38px" height="11px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">Россия</div>
                        </div>
                        <div class="white_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch3.jpg" width="30px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">ТВЦ</div>
                        </div>
                        <div class="gray_line">
                            <div class="left">
                                <div class="ch_pict">
                                    <div class="middled">
                                        <div class="align_center_to_left">
                                            <div class="align_center_to_right">
                                                <img src="img/ch4.jpg" width="38px" height="30px">
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ch_name">НТВ</div>
                        </div>                        
                    </div>                    
                        <div class="bl3_bottom_left"></div>
                        <div class="bl3_bottom"></div>
                        <div class="bl3_bottom_right"></div>
                    </div>
                </div>
            </div>
        </div>
	
		<!--FOOTER-->
        
	
</body>
</html>